includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    level: max
    paths:
        - app
        - bootstrap
        - routes
    ignoreErrors:
        - '#Access to an undefined property [a-zA-Z0-9\\_]+::\$balance_numeric#'
        - '#Access to an undefined property [a-zA-Z0-9\\_]+::\$balance#'
    excludePaths:
